.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .listContainer {
    width: 95%;
  }
}

@media screen and (max-width: 1200px) {
  .listContainer {
    width: 90%;
  }
}